body {
  background-color: #12248b;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #12248b;
  color: #b7bbd0;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 100px;
  gap: 5px;
}

.container div {
  padding: 10px;
  border: 2px solid white;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: right;
  transform: translate(0, 0%);
}

.left {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.right {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.leg {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.button {
  background-color: #6f3400;
  border: none;
  color: #b7bbd0;
  text-align: center;
  font-size: 16px;
  padding: 6px 12px;
}

.button:hover {
  background-color: #002ead;
  transition: 0.7s;
}
.dot {
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: rgb(101, 81, 81);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container {
  max-width: 1300px;
  max-height: 800px;
  position: relative;
  margin: auto;
}
.image {
  float: left;
  margin: 0.5%;
  padding: 0%;
}

.active,
.dot:hover {
  background-color: #141111;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.text {
  color: rgb(245, 105, 63);
}
